@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Lobster&display=swap");

.aboutInfo {
  background-color: white;
  color: darkgoldenrod;
  padding: 40px 200px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Cookie", cursive;
    color: darkgoldenrod;
  }
}
