@use './modules/vrs';

.breadCrumb{
    font-size: 20px;
    padding: 5px 170px;
    background-color: vrs.$secon-color;
    color: #fff;
    @media screen and ( max-width: 900px ){
        font-size: 14px;
        padding: 8px 20px;
        
    }
}