@use './modules/vrs';

.breadCrumb{
    font-size: 20px;
    padding: 5px 200px;
    // background-color: vrs.$prim-color;
    // color: #fff !important;
    @media screen and ( max-width: 900px ){
        font-size: 14px;
        padding: 8px 20px;
        
    }
}