@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Lato&family=Lobster&display=swap');

.common-background {
    background-image: url('https://media.istockphoto.com/id/1303189272/photo/the-bride-and-groom-use-the-little-finger-together-lovely-couple-hold-hand-with-sunset.jpg?s=612x612&w=0&k=20&c=JV_ti6dGbPKf0g-mvcLQ1pKAfgP45P2OuK0bU1u8mcQ=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
    color: #fff;
    text-align: center;
    @media screen and (max-width: 900px){
      display: none;
    }
    .content {
      h1 {
        color: rgb(244, 179, 15);
        font-family:'Great Vibes', cursive;
        text-align: center;
        font-size: 70px;
        margin-top: 50px;
      }
    }
  }


  