@use "./modules/vrs";

.connectUs{
    text-align: center;
    padding: 30px 0px;
    background-image:linear-gradient(to bottom,(rgba(227, 226, 226,2)),rgba(227, 226, 226,0.7),rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/3865895/pexels-photo-3865895.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1{
        color: vrs.$secon-color;
        font-size: 50px;
       
    }
    .formContainer{
        margin: auto;
        width: 700px;
        input, TextArea{
            background-color: vrs.$prim-color;
            padding: 15px;
            border-radius: 0px;
            border: 1px solid #fff;
            &::placeholder{
                color: #fff;

            }
        }
        .gender{
            display: flex; 
            align-items: center; 
            justify-content: center;
            margin-bottom: 20px;
            width: 100%;
        }
        .name-container {
            display: flex;
            gap: 26px;
            width: 100%;
            input{
                width: 335px;
            }
        }
        .btn {
            background-color: #000;
            color: #fff;
            font-size: 22px;
            padding: 5px 20px;
            height: 50px;
        }
    }
    .contactAddress{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        padding: 40px 200px;
      
        .address{
            background-color: vrs.$secon-color;
            color: #fff;
            width: 350px;
            border: 2px solid grey;
            height: 100px;
            padding: 5px;
            padding: auto;
            text-align: center;
            p{
                font-weight: lighter;
            }

        }
      
       
    }
}

@media screen and (max-width: 768px){
    .connectUs{
        padding: 0px;
        text-align: center;
        h1{
            font-size: 26px;
        }
        .formContainer{
            margin: 20px;
            width: 300px;
            input{
                width: 350px;
                padding: 15px;
            }
          
            .gender{
                width: 100%;
                margin: 10px;
               
            }
            .name-container {
                display: block;
                gap: 0px;
                width: 100%;
                input{
                    width: 350px;
                }
            }
            .btn {
                margin-left: 60px;
            }
        }
        .contactAddress{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            padding: 20px;
          
            .address{
                color: #fff;
                width: 340px;
                border: 2px solid grey;
                height: 100px;
                padding: 5px;
                padding: auto;
                text-align: center;
                p{
                    font-weight: lighter;
                }
    
            }
          
           
        }
    }
}