@use './modules/vrs';
body{
    // background-color: rgba(251, 185, 19, 0.8);
    background-image:linear-gradient(rgba(251, 185, 19, 0.2),rgba(251, 185, 19, 0.4),rgba(251, 185, 19, 0.6)), url("https://img.freepik.com/premium-photo/luxury-wedding-concept-wedding-rings-flowers_23-2148652001.jpg?w=2000");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

.contactForm{
    // background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR7z1BdpPrg_rq2kfCbixdD65miYS0zQdUHE3VlbYIZEge2eMaP");
    // background-position: center;
    padding: 30px 200px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    .leftSideAddress{
        width: 550px;
        .addressContent{
           margin: 10px 0px;
          .text{
            color: brown;
            font-size: 20px;
          }
        }
    }
    .rightForm{
        background-color: vrs.$prim-color;
        padding: 20px;
        margin-top: 30px;
        height: max-content;
        width: 450px;
        .form{
            input{
                padding: 10px;
                border-radius: 0%;
                &::placeholder{
                    color: gray;
                }
            }
            .btn{
                background-color: rgba(103, 103, 103,0.5);
                color: #fff;
                font-size: 20px;
                height: 50px;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .contactForm{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .leftSideAddress{
            width: 100%;
        }
        .rightForm{
            padding: 10px;
            margin: 0px;
            width: 320px;
           
        }
    }
}