@use './modules/vrs';
.contactForm{
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcScSPPUCIswv3cry9qdFpNWXKr43RVVkJcSxJgmwbEra_ds0kk8");
    background-position: center;
    padding: 30px 200px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    .leftSideAddress{
        width: 550px;
        .addressContent{
           margin: 0%;
          .text{
            color: brown;
            font-size: 20px;
          }
        }
    }
    .rightForm{
        background-color: vrs.$prim-color;
        padding: 20px;
        margin-top: 30px;
        height: max-content;
        width: 450px;
        .form{
            input{
                padding: 10px;
                border-radius: 0%;
                &::placeholder{
                    color: gray;
                }
            }
            .btn{
                background-color: rgba(103, 103, 103,0.5);
                color: #fff;
                font-size: 20px;
                height: 50px;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .contactForm{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .leftSideAddress{
            width: 330px;
        }
        .rightForm{
            padding: 20px;
            width: 310px;
        }
    }
}