body{
    // background-color: rgba(251, 185, 19, 0.8);
    background-image:linear-gradient(rgba(251, 185, 19, 0.2),rgba(251, 185, 19, 0.4),rgba(251, 185, 19, 0.6)), url("https://img.freepik.com/premium-photo/luxury-wedding-concept-wedding-rings-flowers_23-2148652001.jpg?w=2000");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

.enqForm{
    width: 35%;
    margin: 73px auto;
    text-align: center;
    border: none;
    @media screen and (max-width: 768px) {
        width: 90%;
        margin: 140px auto;
        height: 100%;
    }
    h1{
        color: darkgoldenrod;
        font-family: "Great Vibes";

    }
    .formContainer{
        .name-container{
            .inputEnquiry{
                border-radius: 5px;
                padding: 10px;
                // background-color: rgba(253, 185, 14,0.7);
            }
            .btn{
                background-color: brown;
                color: #fff;
                height: 40px;
                font-size: 20px;
                border: none;
                margin: 0px 40px;
                border-radius: 5px;
                &:hover{
                    background-color: rgba(253, 185, 14,0.8);
                    color: #000;
                }
                @media screen and (max-width: 768px){
                    margin: 0px 20px;
                    font-size: 17px;
                }
            }
        }
    }
    
}
