div.enqForm{
    position: fixed;
    background-color: #A36177;
    right: 0px;
    width: 200px;
    // height: 340px;
    padding: 20px;
    bottom: 200px;
}
.closeButton{
    position: relative;
    // float: right;
    margin-left: 180px;
   margin-bottom: 20px;
}
.btn{
    width: 200px;
}