@use './modules/vrs';
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Lato&family=Lobster&display=swap');

body{
    background-image:linear-gradient(rgba(251, 185, 19, 0.2),rgba(251, 185, 19, 0.4),rgba(251, 185, 19, 0.6)), url("https://img.freepik.com/premium-photo/luxury-wedding-concept-wedding-rings-flowers_23-2148652001.jpg?w=2000");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
.carouselService{
    padding: 30px 200px;
    .titleService{
            text-align: center;
            color: rgb(248, 184, 21);
            font-size: 50px;
            font-family: "Great Vibes",cursive;
    }
    .carouselSlide{
            .cardItem{
               padding: 0px;
               margin: 0px;
                img{
                    margin: auto;
                    width: 100%;
                    height: 150px;
                }
                h3{
                    font-size: 18px;
                    margin-bottom: 0px;
                }
                p{
                    font-size: 15px;
                }
                background-color:burlywood;
                width: 280px;
                color: #000;
                text-align: center;
              

                    // .titleEllipsis {
                    //     overflow: hidden;
                    //     text-overflow: ellipsis;
                    //     white-space: nowrap;
                    //     margin-bottom: 10px; 
                    // }
                    
                    .contentEllipsis {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* Limit content to 3 lines */
                        -webkit-box-orient: vertical;
                        white-space: normal; /* Allow wrapping within the specified number of lines */
                    }
  
            
            }
        
       
    }
    .buttonService{
        margin: 50px auto;
        background-color: gray;
        color: #fff;
        height: 50px;
        padding: 0px 30px;
        border: none;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



@media screen and (max-width: 900px){
    .carouselService{
        padding: 20px;
        .carouselSlide{
        //    .cardRow{
        //     display: flex;
        //     flex-direction: row;
        //     gap: 20px;
            .cardItem{
                h3{
                    font-size: 17px;
                    margin-bottom: 0px;
                }
                p{
                    font-size: 16px;
                }
               
                width: 340px;
                // height: 350px;
            }
           
        }
        .buttonService{
            margin: 50px auto;
            background-color: gray;
            color: #fff;
            height: 50px;
            padding: 0px 30px;
            border: none;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}