@use './modules//vrs';

body{
    // background-color: rgba(251, 185, 19, 0.8);
    background-image:linear-gradient(rgba(251, 185, 19, 0.2),rgba(251, 185, 19, 0.4),rgba(251, 185, 19, 0.6)), url("https://img.freepik.com/premium-photo/luxury-wedding-concept-wedding-rings-flowers_23-2148652001.jpg?w=2000");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

.matrimony{
    // background-image: url("https://img.freepik.com/premium-photo/copy-space-text-red-texture-background-concept-chinese-new-year-background_45281-280.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 80px 200px;
    p, ol li{
        font-size: 17px;
        color: #000;
        line-height: 32px;
        text-align: justify;
        word-spacing: 5px;
    }
    ol li{
        margin-left: 100px;
    }
   
    .sattojanamAbout{
        .images{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
            img{
                width: 330px;
            }
        }
        img{
            width: 400px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
        }
        .titleStyle{
            color: vrs.$prim-color;
            background-color: lightgrey;
            border-radius: 5px;
            margin-top: 0px;
       }
    }
}

@media screen and (max-width: 768px){
    .matrimony{
        padding: 20px;
        p{
            font-size: 15px;
            text-align: justify;
        }
        ol li{
            margin-left: 0px;
        }
        .sattojanamAbout{
            .images{
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: space-between;
                img{
                    width: 100%;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}