@use './modules/flex';
@use './modules/grid';
@use './modules/vrs';


#section-1 {
  @include flex.flexbox;
  height: max-content;
  margin: 30px 0px;

  .content {
    @include flex.flexbox(column);

    h2 {
      margin-bottom: 0;
    }

    & > p {
      margin-bottom: 25px;
      text-align: center;
    }
    .carousel{
    .prof-grid {
      @include grid.gridbox(4, 25px);

      .profile {
        @include flex.flexbox(column);
        background-color: white;
        padding: 25px 50px;
        border-radius: 20px;
        border: 8px solid rgba($color: grey, $alpha: 0.1);
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
          box-shadow: vrs.$prim-shadow;
        }

        img {
          width: 125px;
          height: 130px;
          object-fit: cover;
          border-radius: 50%;
          border: 8px solid rgba($color: #000000, $alpha: 0);
          transition: all 0.3s ease-out;
        }

        &:hover img {
          box-shadow: vrs.$prim-shadow;
        }

        h3,
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  }
  }


@media only screen and (max-width: 1140px) {
  #section-1 .content .prof-grid {
    display: inline-flex;
    gap: 12px;
    overflow-x: scroll;
    width: 100%;
  }
}
