@use "./modules/vrs";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Lobster&display=swap');

.details{
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR7z1BdpPrg_rq2kfCbixdD65miYS0zQdUHE3VlbYIZEge2eMaP");
    background-position: center;
    padding: 50px 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-evenly;
    gap: 30px;
    grid-auto-rows: 430px;
    @media screen and (max-width: 768px){
      padding: 20px;
    }
   .card{
    background-color: vrs.$prim-color;
    width: 330px;
    padding: 0%;
    margin: 0%;
    border-radius: 0%;
    color: #fff;
    @media screen and (max-width: 768px){
      width: 350px;
      margin: 0px;
    }
    img{
        width: 330px;
        height: 250px;
        object-fit: cover;
        @media screen and (max-width: 768px){
          width: 350px;
          
        }
    }
    img {
        max-width: 100%;
        display: block;
      }
    
      .ant-card-body {
        padding: 0px; 
      }
    
      .ant-typography {
        color: #fff;
        }
      .text-content {
       margin: 10px;
       .titleService{
        a{
          color: #fff;
          &:hover{
            text-decoration: underline;
          }
        }
       }
      
      }
   }
  
    
}