@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Lato&family=Lobster&display=swap');

body{
    // background-color: rgba(251, 185, 19, 0.8);
    background-image:linear-gradient(rgba(251, 185, 19, 0.2),rgba(251, 185, 19, 0.4),rgba(251, 185, 19, 0.6)), url("https://img.freepik.com/premium-photo/luxury-wedding-concept-wedding-rings-flowers_23-2148652001.jpg?w=2000");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
.serviceComponent{
    // background-image: url("https://img.freepik.com/premium-photo/copy-space-text-red-texture-background-concept-chinese-new-year-background_45281-280.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 30px 200px;
    @media screen and (max-width: 768px){
        padding: 20px;
    }
    img{
        width: 80%;
        height: 700px;
        object-fit: cover;
        margin: auto;
        @media screen and (max-width: 768px){
            width: 100%;
            height: 200px;
        }
    }
    h3{
        color: rgb(243, 177, 12);
        font-size: 50px;
        text-align: center;
        font-family: "Great Vibes", cursive;
        @media screen and (max-width: 768px){
            font-size: 34px;
        }
    }
    p{
        color: #000;
        font-size: 17px;
        line-height: 30px;
    }

}

