@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Lato&family=Lobster&display=swap');


.serviceComponent{
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcScSPPUCIswv3cry9qdFpNWXKr43RVVkJcSxJgmwbEra_ds0kk8");
    background-position: center;
    padding: 30px 200px;
    @media screen and (max-width: 768px){
        padding: 20px;
    }
    img{
        width: 80%;
        height: 700px;
        object-fit: cover;
        margin: auto;
        @media screen and (max-width: 768px){
            width: 100%;
            height: 200px;
        }
    }
    h3{
        color: darkgoldenrod;
        font-size: 50px;
        text-align: center;
        font-family: "Great Vibes", cursive;
        @media screen and (max-width: 768px){
            font-size: 36px;
        }
    }
    p{
        color: rgb(64, 64, 64);
        font-size: 17px;
        line-height: 30px;
    }

}

